<div class="row">
  <div class="col-12 col-sm-12">
    Forked with <3 from <a href="https://github.com/paperswithcode/ai-deadlines">ai-deadlines</a> developed by <a href="https://twitter.com/abhshkdz">abhshkdz</a>. This instance is run by
    <a href="https://github.com/cyber-where">Cyber where? Community</a>. 
    <a href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">Data Policy</a> 
    <a href="https://docs.github.com/en/site-policy/privacy-policies/github-cookies">Cookies policy</a>
</div>
