<div class="row">
  <div class="col-12 col-sm-12">
    <a href="/">{{ site.domain }}</a>
    was built and maintained from 2016-2021 by
    <a href="https://twitter.com/abhshkdz">abhshkdz</a>. It is now run by
    <a href="https://github.com/cyber-where">Cyber where? Community</a>.<br>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="footer-links">
    <a href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">Data Policy</a>
    <a href="https://docs.github.com/en/site-policy/privacy-policies/github-cookies">Cookies policy</a>
  </div>
  </div>
</div>
